h1.top
{
    color: rgb(0, 0, 0);
    text-align:center;
}

a
{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

html
{  
  height: 100%;  
}  
     
*
{
    user-select: none;
}