p
{
    font-size: 30px;
    text-indent: 20px;
}

div.article
{
    background-color: rgb(235, 235, 235);
    margin: 20px;
    border-radius: 8px;
}

body
{
    background-image: linear-gradient(to bottom right, red , yellow);
}